.formContainer {
  margin: 0 auto;
  padding-top: 5rem;
  max-width: 500px;
  form {
    background-color: #fff;
    padding: 1rem;
    border-radius: 5px;
    font-family: "roboto";
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  h2 {
    font-size: 1.6rem;
  }
  label {
    margin-bottom: 0.5rem;
    font-family: "roboto";
    font-size: 1rem;
  }
  input,
  option,
  select {
    font-size: 1rem;
    border: 2px solid rgb(68, 68, 68, 0.4);
    border-radius: 4px;
    height: 2rem;
    padding-left: 0.3rem;
    font-family: "roboto";
  }
  select {
    background-color: #fff;
  }
  .formGroup {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
  }
  .buttonsContainer {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
  }
  .ternaryBtn {
    display: inline-block;
    width: fit-content;
    font-size: 0.9rem;
    background-color: #fff;

    span {
      margin-right: 5px;
    }
  }
  .invalid-feedback {
    margin-top: 0.5rem;
    color: #e34850;
  }
  .is-invalid {
    border-color: #e34850;
  }
}
